<footer data-elementor-type="footer" data-elementor-id="2146" class="elementor elementor-2146 elementor-location-footer" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-bccb7b8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bccb7b8" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4c1e9a5" data-id="4c1e9a5" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-93eeb87 elementor-widget elementor-widget-heading" data-id="93eeb87" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">© 2026 Kristen Pardue. All Rights Reserved.</p>				</div>
				</div>
				<div class="elementor-element elementor-element-52b2227 elementor-widget elementor-widget-heading" data-id="52b2227" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">Developed by: <a target="_blank" class="link-white" rel="nofollow" href="https://blendmode.com/">Blend Mode</a>  &amp;  Powered by: <a rel="nofollow" target="_blank" class="link-white" href="https://buildwithgrowthmap.com/">GrowthMap™</a></p>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</footer>