<div data-elementor-type="wp-page" data-elementor-id="2962" class="elementor elementor-2962" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-bf919df elementor-section-full_width elementor-reverse-mobile elementor-section-height-default elementor-section-height-default" data-id="bf919df" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;opacity-tilt&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
	<path class="elementor-shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
	<path class="elementor-shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2247453" data-id="2247453" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-04c4413 elementor-widget elementor-widget-spacer" data-id="04c4413" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d46803e" data-id="d46803e" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-0b83072 elementor-widget elementor-widget-heading" data-id="0b83072" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">A healthy body<br>begins with YOUR GUT!</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-8a3af15 elementor-widget elementor-widget-text-editor" data-id="8a3af15" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>When I learned how my gut health was affecting my entire body it changed my life! I’m here to help YOU simplify the process of changing yours, too!</p>								</div>
				</div>
				<div class="elementor-element elementor-element-bc4a23b elementor-align-left elementor-tablet-align-left elementor-mobile-align-center animated-slow elementor-invisible elementor-widget elementor-widget-button" data-id="bc4a23b" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-xs elementor-animation-grow" href="/gi-mapping/#get-started">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">register now</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1ee9664 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1ee9664" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1a20e31" data-id="1a20e31" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-fb38636 elementor-widget elementor-widget-heading" data-id="fb38636" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Why I love the GI-MAP Test?</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-b450748 elementor-widget elementor-widget-text-editor" data-id="b450748" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>The GI Microbial Assay Plus (or GI-MAP™) test provides an extremely detailed analysis of your gut microbiome via stool testing. This is a unique and targeted testing option, playing a critical role in knowing what YOU specifically need for YOUR body. Since your microbiome is the population of the bacteria, viruses, and potential parasites residing in the gut, we can detail out what is going on and pin point a CUSTOMIZED PLAN OF ACTION!</p>								</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-c418f4b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c418f4b" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-251ff75" data-id="251ff75" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-feaa2fe elementor-widget elementor-widget-heading" data-id="feaa2fe" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-large">What are we looking for?</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-7bfadad elementor-widget elementor-widget-text-editor" data-id="7bfadad" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>This test analyzes the levels of both good and bad bacteria, parasites, viruses, worms, and fungi, as well as immune and digestive markers in your gut. Knowing <i>how much</i> of an organism’s DNA is present in the gut is VITAL information and also gives us a map to figure out inflammation markers.</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-6c79b8c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6c79b8c" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-88e1e18" data-id="88e1e18" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-642ed90 elementor-widget elementor-widget-text-editor" data-id="642ed90" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<h3 class="mt-2">Getting a GI-MAP allows for a one-of-a-kind, personalized treatment plan and allows retesting options to track progress of your Gut Health journey!</h3>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-092bee4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="092bee4" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-d37c589" data-id="d37c589" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-59c6f76 elementor-widget elementor-widget-heading" data-id="59c6f76" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Everyone benefits from analyzing their gut health!</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-164f678 elementor-widget elementor-widget-text-editor" data-id="164f678" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>This test gives us SO MUCH important data, even the “healthiest of people” can find ways to optimize their digestive health!&nbsp;</p><p>Adults AND children can benefit from these tests.</p><p>I even recommend families considering running it together, as many of these pathogens can be passed among in families or significant others and by addressing them together, the entire family can feel better and be proactive about their long-term health. WIN-WIN!</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-d1399e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d1399e9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-506dfe8" data-id="506dfe8" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-8041662 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8041662" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d9f1c33" data-id="d9f1c33" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d02065e elementor-widget elementor-widget-heading" data-id="d02065e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">I know this can feel overwhelming... I'm here to help!</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-5f9800a elementor-widget elementor-widget-text-editor" data-id="5f9800a" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>I am genuinely SO EXCITED to offer this customized GI-Mapping to YOU! I want to you help simplify this process, leading you towards a HEALTHY GUT and HEALTHY LIFE!</p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a419f1b" data-id="a419f1b" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-421437d elementor-widget elementor-widget-image" data-id="421437d" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="802" src="/wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1.jpg" class="attachment-large size-large wp-image-2855" alt="" srcset="/wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1.jpg 979w, /wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1-300x300.jpg 300w, /wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1-100x100.jpg 100w, /wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1-600x602.jpg 600w, /wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1-150x150.jpg 150w, /wp-content/uploads/2020/02/kristen-pardue_light-pink-mobile1-768x770.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">															</div>
				</div>
				<div class="elementor-element elementor-element-56ba967 elementor-widget elementor-widget-text-editor" data-id="56ba967" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Kristen Pardue, Registered Dietitian</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-885a719 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="885a719" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-091f5f7" data-id="091f5f7" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-0132103 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0132103" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fa4b0e7" data-id="fa4b0e7" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-67f4209 elementor-widget elementor-widget-image" data-id="67f4209" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="545" src="/wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-1024x697.jpg" class="attachment-large size-large wp-image-2970" alt="" srcset="/wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-1024x697.jpg 1024w, /wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-scaled-600x408.jpg 600w, /wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-300x204.jpg 300w, /wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-768x523.jpg 768w, /wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-1536x1045.jpg 1536w, /wp-content/uploads/2021/01/brooke-lark-jUPOXXRNdcA-unsplash-2048x1394.jpg 2048w" sizes="(max-width: 800px) 100vw, 800px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b92f08" data-id="2b92f08" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-6c5249d elementor-widget elementor-widget-text-editor" data-id="6c5249d" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>The step-by-step process makes the process of HEALING YOUR GUT HEALTH easy and simplified!</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-eadc47a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="eadc47a" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8482815" data-id="8482815" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d96892c uael-timeline-arrow-top elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone uael-timeline--center uael-timeline-responsive-tablet elementor-widget elementor-widget-uael-timeline" data-id="d96892c" data-element_type="widget" data-e-type="widget" data-widget_type="uael-timeline.default">
				<div class="elementor-widget-container">
					<div class="uael-timeline-wrapper uael-timeline-node">
	
	<div class="uael-timeline-main">
		<div class="uael-days">
												<div class="elementor-repeater-item-c345629 uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-right">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-right">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>1</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">Complete A Questionnaire</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>To be the most effective, I want to learn a little more about your health history and current lifestyle. I also want to know about your wellness goals so they can be addressed as I put together your 90-day protocol. You’ll get access to the questionnaire as soon as you’ve purchased your package.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>1</div></div>
									</div>
								</div>
													</div>
					</div>
																	<div class="elementor-repeater-item-3bcb279 uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-left">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-left">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>2</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">Complete Your GI-MAP™ test</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>Once you get started and have completed the questionnaire, I will send you the test. There will be very clear instructions on how to collect your stool sample and send it back to Diagnostic Solutions lab. You will pay the lab directly for their analysis of your sample (check with your insurance, as some plans will cover the test).<br>‍<br> Once you mail the test back to the lab it will take 2-3 weeks to get the results and for me to formulate your protocol.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>2</div></div>
									</div>
								</div>
													</div>
					</div>
																	<div class="elementor-repeater-item-b65953a uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-right">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-right">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>3</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">Consultation</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>During the consultation, we will go over your test results in detail and I will explain your custom protocol based on my assessment. Your plan may include diet recommendations, probiotics, herbal supplements, and essential oils to correct the imbalances highlighted by your GI Map.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>3</div></div>
									</div>
								</div>
													</div>
					</div>
																	<div class="elementor-repeater-item-c539089 uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-left">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-left">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>4</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">Protocol</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>The protocol specifically addresses the imbalances in your gut by removing the bad pathogens, replacing them with good ones, and alleviating any inflammation or digestive problems.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>4</div></div>
									</div>
								</div>
													</div>
					</div>
																	<div class="elementor-repeater-item-7ab8a81 uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-right">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-right">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>5</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">90-day ongoing Support</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>During your 90-day protocol, we will communicate by email as needed to assess your progress, address any symptoms that may arise, and make any necessary adjustments.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>5</div></div>
									</div>
								</div>
													</div>
					</div>
																	<div class="elementor-repeater-item-71d84d9 uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-left">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-left">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>6</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">Post 90 Day Protocol</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>We recommend re-testing after the first 90-day phase to see how your test results have changed. Once we analyze the results of your second test, we can recommend a maintenance protocol. Many clients find it beneficial to complete annual or bi-annual GI mapping to stay on top of their gut health.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>6</div></div>
									</div>
								</div>
													</div>
					</div>
																	<div class="elementor-repeater-item-95f7593 uael-timeline-field animate-border out-view">
						<div class="uael-timeline-widget uael-timeline-right">
							<div class="uael-timeline-marker">
								<span class="timeline-icon-new out-view-timeline-icon">
									<i aria-hidden="true" class="fas fa-check-circle"></i>								</span>
							</div>

							<div class="uael-day-new uael-day-right">
								<div class="uael-events-new">
																		<div class="uael-events-inner-new">
																					<div class="uael-timeline-date-hide uael-date-inner"><div class="inner-date-new"><p>7</p></div>
											</div>
																				<div class="uael-content">
																																	<div class="uael-timeline-heading-text">
												<h3 class="uael-timeline-heading">How Will You Know It’s Working?</h3>
											</div>
																																																								<div class="uael-timeline-desc-content"> <p>You can expect an improvement in symptoms that you are having. Some happen faster than others. Gut healing is slow and can take up to one year to have full improvement. Most people see drastic improvement before the end of the protocol.</p></div>
																																</div>
																							<div class="uael-timeline-arrow"></div>
																				</div>
																	</div>
							</div>
															<div class="uael-timeline-date-new">
									<div class="uael-date-new"><div class="inner-date-new"><div>7</div></div>
									</div>
								</div>
													</div>
					</div>
										</div>
		<div class="uael-timeline__line">
			<div class="uael-timeline__line__inner"></div>
		</div>
	</div>
</div>

				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5e40283c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5e40283c" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;tilt&quot;}">
					<div class="elementor-shape elementor-shape-top" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-wide">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-820b84c" data-id="820b84c" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-3e84c63 elementor-widget elementor-widget-heading" data-id="3e84c63" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">How do you know it's working?</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-dd279be elementor-widget elementor-widget-heading" data-id="dd279be" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">You can expect symptoms to improve! Some happen faster than others and remember that true gut healing is a process and can take up to one year to have full improvement--but all that being said, most people see drastic improvement before the end of their personalized 90-day protocol.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-66a45c0 elementor-widget elementor-widget-spacer" data-id="66a45c0" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-c06ef46 elementor-widget elementor-widget-menu-anchor" data-id="c06ef46" data-element_type="widget" data-e-type="widget" data-widget_type="menu-anchor.default">
				<div class="elementor-widget-container">
							<div class="elementor-menu-anchor" id="get-started"></div>
						</div>
				</div>
				<div class="elementor-element elementor-element-839fad9 elementor-widget elementor-widget-heading" data-id="839fad9" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Let's get started!</h2>				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-4d2d4f5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4d2d4f5" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0a80b32" data-id="0a80b32" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a48a251 c-thrivecart-btn elementor-widget elementor-widget-html" data-id="a48a251" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<script async="" src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script><a data-thrivecart-account="agencyescalator" data-thrivecart-tpl="v2" data-thrivecart-product="11" class="thrivecart-button thrivecart-button-styled thrivecart-button_style-rounded thrivecart-button-green ">GET STARTED</a>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-738cac7 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="738cac7" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-19a17af" data-id="19a17af" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f56d951 c-thrivecart-btn elementor-widget elementor-widget-html" data-id="f56d951" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<script async="" src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script><a data-thrivecart-account="agencyescalator" data-thrivecart-tpl="v2" data-thrivecart-product="11" class="thrivecart-button thrivecart-button-styled thrivecart-button_style-rounded thrivecart-button-green ">GET STARTED</a>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-13a3030" data-id="13a3030" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-0e68b4b c-thrivecart-btn elementor-widget elementor-widget-html" data-id="0e68b4b" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
					<script async="" src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
<a data-thrivecart-account="agencyescalator" data-thrivecart-tpl="v2" data-thrivecart-product="7" class="thrivecart-button thrivecart-button-styled thrivecart-button_style-rounded thrivecart-button-green ">GET STARTED</a>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-6bc57e0 elementor-widget elementor-widget-text-editor" data-id="6bc57e0" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>***Once you have purchased the package that’s right for you, I’ll be sending you a welcome email and a link to complete a health history questionnaire!</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>