<div data-elementor-type="archive" data-elementor-id="2101" class="elementor elementor-2101 elementor-location-archive" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-48079e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="48079e9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;opacity-tilt&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
	<path class="elementor-shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
	<path class="elementor-shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dbeef22 elementor-invisible" data-id="dbeef22" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-723ffdc elementor-widget elementor-widget-heading" data-id="723ffdc" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Healthy in Body, Soul and Spirit.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-e3e60dd elementor-widget elementor-widget-heading" data-id="e3e60dd" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default"><span class="vcard">Eric Pardue</span></h2>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5c9da5c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="5c9da5c" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11032f5" data-id="11032f5" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d1521d3 elementor-widget elementor-widget-spacer" data-id="d1521d3" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-1cabc9b elementor-posts--align-center home-post elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts" data-id="1cabc9b" data-element_type="widget" data-e-type="widget" data-settings="{&quot;pagination_type&quot;:&quot;numbers_and_prev_next&quot;,&quot;classic_columns&quot;:&quot;3&quot;,&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">
				<article class="elementor-post elementor-grid-item post-2069 post type-post status-publish format-standard has-post-thumbnail hentry category-infant-health category-kids-health category-personal category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/infant-health/how-i-healed-my-sons-ear-infection-naturally/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img width="2000" height="1333" src="/wp-content/uploads/2013/09/kp_ear-infection-blog.jpg" class="attachment-full size-full wp-image-2413" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/infant-health/how-i-healed-my-sons-ear-infection-naturally/">
				My Son’s Ear Infection Healed Naturally!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2067 post type-post status-publish format-standard has-post-thumbnail hentry category-infant-health category-kids-health category-nutrition category-physical-health category-pregnancy" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/infant-health/glyphosate-toxicity-another-hidden-danger-of-genetically-modified-foods/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img width="1198" height="798" src="/wp-content/uploads/2019/06/ja-ma-gOUx23DNks-unsplash.jpg" class="attachment-full size-full wp-image-2032" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/infant-health/glyphosate-toxicity-another-hidden-danger-of-genetically-modified-foods/">
				Glyphosate Toxicity – Another Hidden Danger Of Genetically Modified Foods			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2050 post type-post status-publish format-standard has-post-thumbnail hentry category-nutrition category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/nutrition/how-to-buy-the-eggs-pastured-vs-cage-free-vs-free-range/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="1532" height="1021" src="/wp-content/uploads/2019/06/jakub-kapusnak-Hj53USePB1E-unsplash.jpg" class="attachment-full size-full wp-image-2051" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/nutrition/how-to-buy-the-eggs-pastured-vs-cage-free-vs-free-range/">
				EGGS: Pastured vs. Cage Free vs.Free Range			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2060 post type-post status-publish format-standard has-post-thumbnail hentry category-infant-health category-kids-health category-nutrition category-physical-health category-recipes" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/infant-health/health-benefits-of-homemade-chicken-broth/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1248" src="/wp-content/uploads/2013/07/bone-broth-homemade.jpg" class="attachment-full size-full wp-image-2682" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/infant-health/health-benefits-of-homemade-chicken-broth/">
				Health Benefits of Homemade Chicken Broth			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2058 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-personal category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/my-story-with-essential-oils/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="1670" height="1113" src="/wp-content/uploads/2019/06/kelly-sikkema-Vlfy_5-_5C4-unsplash.jpg" class="attachment-full size-full wp-image-2059" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/my-story-with-essential-oils/">
				My Story With Essential Oils			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2064 post type-post status-publish format-standard has-post-thumbnail hentry category-nutrition category-personal category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/the-gluten-problem/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="968" height="644" src="/wp-content/uploads/2019/06/wesual-click-rsWZ-P9FbQ4-unsplash.jpg" class="attachment-full size-full wp-image-2037" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/the-gluten-problem/">
				The Gluten Problem			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2056 post type-post status-publish format-standard hentry category-nutrition category-physical-health category-recipes category-uncategorized" role="listitem">
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/uncategorized/grain-free-blueberry-muffins/">
				Grain Free Blueberry Muffins			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2054 post type-post status-publish format-standard has-post-thumbnail hentry category-nutrition category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/nutrition/benefits-of-grass-fed-beef-contains-cancer-fighting-substance/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="1461" height="974" src="/wp-content/uploads/2019/06/leon-ephraim-AxoNnnH1Y98-unsplash.jpg" class="attachment-full size-full wp-image-2055" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/nutrition/benefits-of-grass-fed-beef-contains-cancer-fighting-substance/">
				Benefits of Grass-Fed Beef: Contains Cancer-Fighting Substance			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2052 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-personal category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/getting-healthy-in-the-new-year/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1315" src="/wp-content/uploads/2013/01/how-to-get-healthy.jpg" class="attachment-full size-full wp-image-2683" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/getting-healthy-in-the-new-year/">
				Getting Healthy in the New Year			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2039 post type-post status-publish format-standard has-post-thumbnail hentry category-infant-health category-kids-health category-physical-health category-pregnancy category-recipes" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/infant-health/babys-first-foods-its-not-rice-cereal/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1333" src="/wp-content/uploads/2012/11/babys-first-food.jpg" class="attachment-full size-full wp-image-2684" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/infant-health/babys-first-foods-its-not-rice-cereal/">
				Baby’s First Foods (It’s Not Rice Cereal)			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2045 post type-post status-publish format-standard has-post-thumbnail hentry category-nutrition category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/physical-health/nutrition/gmos-how-theyre-destroying-your-health/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="1398" height="932" src="/wp-content/uploads/2019/06/freestocks-org-N56qCB6v4Kw-unsplash.jpg" class="attachment-full size-full wp-image-2046" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/physical-health/nutrition/gmos-how-theyre-destroying-your-health/">
				GMO’s &amp; How They’re Destroying Your Health			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2049 post type-post status-publish format-standard has-post-thumbnail hentry category-nutrition category-physical-health category-recipes" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/recipes/medicinal-properties-of-coconut-oil/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="1800" height="1200" src="/wp-content/uploads/2019/06/jonas-ducker-vouGfIv29zk-unsplash.jpg" class="attachment-full size-full wp-image-1978" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/recipes/medicinal-properties-of-coconut-oil/">
				Medicinal Properties of Coconut Oil			</a>
		</h3>
				</div>
				</article>
				</div>
		
				<div class="e-load-more-anchor" data-page="5" data-max-page="7" data-next-page="https://kristenpardue.com/author/ericpardue/page/6/"></div>
				<nav class="elementor-pagination" aria-label="Pagination">
			<a class="page-numbers prev" href="/author/ericpardue/page/4/">« Previous</a>
<a class="page-numbers" href="/author/ericpardue/"><span class="elementor-screen-only">Page</span>1</a>
<span class="page-numbers dots">…</span>
<a class="page-numbers" href="/author/ericpardue/page/3/"><span class="elementor-screen-only">Page</span>3</a>
<a class="page-numbers" href="/author/ericpardue/page/4/"><span class="elementor-screen-only">Page</span>4</a>
<span aria-current="page" class="page-numbers current"><span class="elementor-screen-only">Page</span>5</span>
<a class="page-numbers" href="/author/ericpardue/page/6/"><span class="elementor-screen-only">Page</span>6</a>
<a class="page-numbers" href="/author/ericpardue/page/7/"><span class="elementor-screen-only">Page</span>7</a>
<a class="page-numbers next" href="/author/ericpardue/page/6/">Next »</a>		</nav>
						</div>
				</div>
				<div class="elementor-element elementor-element-a62223e elementor-widget elementor-widget-spacer" data-id="a62223e" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-a62fdaf use-them elementor-widget elementor-widget-image-box" data-id="a62fdaf" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">IT'S TIME TO UPGRADE YOUR HEALTH</h3><p class="elementor-image-box-description"></p><p></p></div></div>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-343b272 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="343b272" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-868d7a2" data-id="868d7a2" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-d3cb24a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d3cb24a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7877321" data-id="7877321" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-cb40c04" data-id="cb40c04" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f4d70f5 elementor-widget elementor-widget-heading" data-id="f4d70f5" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Search the Site</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-28abae2 elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-search-form--icon-search elementor-widget elementor-widget-search-form" data-id="28abae2" data-element_type="widget" data-e-type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
				<div class="elementor-widget-container">
							<search role="search">
			<form class="elementor-search-form" action="/" method="get">
												<div class="elementor-search-form__container">
					<label class="elementor-screen-only" for="elementor-search-form-28abae2">Search</label>

					
					<input id="elementor-search-form-28abae2" placeholder="Search..." class="elementor-search-form__input" type="search" name="s" value="">
					
											<button class="elementor-search-form__submit" type="submit" aria-label="Search">
															<i aria-hidden="true" class="fas fa-search"></i>													</button>
					
									</div>
			</form>
		</search>
						</div>
				</div>
				<div class="elementor-element elementor-element-90b7313 elementor-widget elementor-widget-heading" data-id="90b7313" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Search by category</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-481eeff elementor-nav-menu__align-start elementor-nav-menu--dropdown-mobile elementor-nav-menu__text-align-aside elementor-widget elementor-widget-nav-menu" data-id="481eeff" data-element_type="widget" data-e-type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot; aria-hidden=\&quot;true\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
								<nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
				<ul id="menu-1-481eeff" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2774"><a class="elementor-item">Categories<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2760"><a href="/category/business/" class="elementor-sub-item">Business</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2761"><a href="/category/essential-oils/" class="elementor-sub-item">Essential Oils</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2762"><a href="/category/favorites/" class="elementor-sub-item">Favorite Things</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2763"><a href="/category/mindset/" class="elementor-sub-item">Mindset</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2764"><a href="/category/personal/" class="elementor-sub-item">Personal</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2765"><a href="/category/physical-health/" class="elementor-sub-item">Physical Health<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
	<ul class="sub-menu elementor-nav-menu--dropdown">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="/category/physical-health/infant-health/" class="elementor-sub-item">Infant Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="/category/physical-health/kids-health/" class="elementor-sub-item">Kids Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="/category/physical-health/nutrition/" class="elementor-sub-item">Nutrition</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="/category/physical-health/pregnancy/" class="elementor-sub-item">Pregnancy</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2770"><a href="/category/physical-health/supplements/" class="elementor-sub-item">Supplements</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2771"><a href="/category/recipes/" class="elementor-sub-item">Recipes</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2772"><a href="/category/relationships/" class="elementor-sub-item">Relationships</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2773"><a href="/category/spiritual-health/" class="elementor-sub-item">Spiritual Health</a></li>
</ul>
</li>
</ul>			</nav>
						<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
				<ul id="menu-2-481eeff" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2774"><a class="elementor-item" tabindex="-1">Categories<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2760"><a href="/category/business/" class="elementor-sub-item" tabindex="-1">Business</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2761"><a href="/category/essential-oils/" class="elementor-sub-item" tabindex="-1">Essential Oils</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2762"><a href="/category/favorites/" class="elementor-sub-item" tabindex="-1">Favorite Things</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2763"><a href="/category/mindset/" class="elementor-sub-item" tabindex="-1">Mindset</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2764"><a href="/category/personal/" class="elementor-sub-item" tabindex="-1">Personal</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2765"><a href="/category/physical-health/" class="elementor-sub-item" tabindex="-1">Physical Health<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
	<ul class="sub-menu elementor-nav-menu--dropdown">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="/category/physical-health/infant-health/" class="elementor-sub-item" tabindex="-1">Infant Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="/category/physical-health/kids-health/" class="elementor-sub-item" tabindex="-1">Kids Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="/category/physical-health/nutrition/" class="elementor-sub-item" tabindex="-1">Nutrition</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="/category/physical-health/pregnancy/" class="elementor-sub-item" tabindex="-1">Pregnancy</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2770"><a href="/category/physical-health/supplements/" class="elementor-sub-item" tabindex="-1">Supplements</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2771"><a href="/category/recipes/" class="elementor-sub-item" tabindex="-1">Recipes</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2772"><a href="/category/relationships/" class="elementor-sub-item" tabindex="-1">Relationships</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2773"><a href="/category/spiritual-health/" class="elementor-sub-item" tabindex="-1">Spiritual Health</a></li>
</ul>
</li>
</ul>			</nav>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-e138e16 elementor-widget elementor-widget-spacer" data-id="e138e16" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>