<div data-elementor-type="wp-post" data-elementor-id="1949" class="elementor elementor-1949" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-52ed3cea elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="52ed3cea" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;opacity-tilt&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
	<path class="elementor-shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
	<path class="elementor-shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-195103ab" data-id="195103ab" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2305b2f elementor-widget elementor-widget-spacer" data-id="2305b2f" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3b337e8" data-id="3b337e8" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e08d015 elementor-widget elementor-widget-text-editor" data-id="e08d015" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Have an event you’re hosting? I’d love to be a part of sharing some in depth info with your audience or conference attendees!</p>								</div>
				</div>
				<div class="elementor-element elementor-element-a072844 animated-slow elementor-align-center elementor-tablet-align-left elementor-mobile-align-left elementor-invisible elementor-widget elementor-widget-button" data-id="a072844" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-xs elementor-animation-grow" href="/contact-me/">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">CONTACT NOW</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-3c96e097 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3c96e097" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;pyramids&quot;}">
					<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M761.9,44.1L643.1,27.2L333.8,98L0,3.8V0l1000,0v3.9"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3c4a2743" data-id="3c4a2743" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-8637db3 elementor-widget elementor-widget-spacer" data-id="8637db3" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-7bda098b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7bda098b" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-611887f elementor-invisible" data-id="611887f" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-69aefb10 elementor-widget elementor-widget-heading" data-id="69aefb10" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">SPEAKING ON HEALTH!</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2bfae97e elementor-widget elementor-widget-text-editor" data-id="2bfae97e" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>When my life was turned around through pursuing HEALTH—body, soul and spirit—I knew I couldn’t keep all of this to myself for very long.</p><p>I consider it a passion and an honor to share the things I have learned over the years, so <a href="/contact-me/">GET IN TOUCH</a> and I’d love to chat more about speaking at your next event!</p>								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3f25fd9d elementor-invisible" data-id="3f25fd9d" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;slideInRight&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-412f8995 elementor-widget elementor-widget-image" data-id="412f8995" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img fetchpriority="high" decoding="async" width="795" height="1024" src="/wp-content/uploads/2020/01/kristen-pardue_nov2019-265-795x1024.jpg" class="attachment-large size-large wp-image-2588" alt="" srcset="/wp-content/uploads/2020/01/kristen-pardue_nov2019-265-795x1024.jpg 795w, /wp-content/uploads/2020/01/kristen-pardue_nov2019-265-scaled-600x773.jpg 600w, /wp-content/uploads/2020/01/kristen-pardue_nov2019-265-233x300.jpg 233w, /wp-content/uploads/2020/01/kristen-pardue_nov2019-265-768x989.jpg 768w, /wp-content/uploads/2020/01/kristen-pardue_nov2019-265-1193x1536.jpg 1193w, /wp-content/uploads/2020/01/kristen-pardue_nov2019-265-1591x2048.jpg 1591w, /wp-content/uploads/2020/01/kristen-pardue_nov2019-265-scaled.jpg 1988w" sizes="(max-width: 795px) 100vw, 795px">															</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-83a19d0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="83a19d0" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-50ca6ed" data-id="50ca6ed" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-072b564 elementor-hidden-phone elementor-widget elementor-widget-spacer" data-id="072b564" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-4c747b61 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4c747b61" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-60098fa0 elementor-invisible" data-id="60098fa0" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;bounceInLeft&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-316c2cef elementor-widget elementor-widget-heading" data-id="316c2cef" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-large">Retreats!</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-4e3bf279 elementor-widget elementor-widget-text-editor" data-id="4e3bf279" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Retreats are a great option for bringing in a speaker on all things HEALTH! Everyone is on their own journey towards health and we can all gain from learning something new or hearing about health from a new perspective-no matter our line of work or business! I love sharing my story as a Registered Dietitian and the journey I’ve been on in my own health for more than a decade!</p>								</div>
				</div>
				<div class="elementor-element elementor-element-45fc5f5 elementor-widget elementor-widget-spacer" data-id="45fc5f5" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-43dbb8c0" data-id="43dbb8c0" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-1860210b elementor-invisible elementor-widget elementor-widget-image" data-id="1860210b" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInRight&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="1000" height="1055" src="/wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-6.18.jpg" class="attachment-full size-full wp-image-2901" alt="" srcset="/wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-6.18.jpg 1000w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-6.18-600x633.jpg 600w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-6.18-284x300.jpg 284w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-6.18-971x1024.jpg 971w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-6.18-768x810.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1caa7b0b elementor-section-content-middle elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1caa7b0b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-16c8e29f" data-id="16c8e29f" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-29d7b0 elementor-invisible elementor-widget elementor-widget-image" data-id="29d7b0" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInLeft&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="804" height="997" src="/wp-content/uploads/2020/02/kristen-speaking-photo.jpg" class="attachment-full size-full wp-image-2900" alt="" srcset="/wp-content/uploads/2020/02/kristen-speaking-photo.jpg 804w, /wp-content/uploads/2020/02/kristen-speaking-photo-600x744.jpg 600w, /wp-content/uploads/2020/02/kristen-speaking-photo-242x300.jpg 242w, /wp-content/uploads/2020/02/kristen-speaking-photo-768x952.jpg 768w" sizes="(max-width: 804px) 100vw, 804px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-35383415 elementor-invisible" data-id="35383415" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;bounceInRight&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-56f47ec elementor-widget elementor-widget-heading" data-id="56f47ec" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-large">Luncheons!</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-e630ef3 elementor-widget elementor-widget-text-editor" data-id="e630ef3" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Looking for something to break up the “same old” corporate luncheons? I love to inspire others to move towards health in all areas of their life and a corporate luncheon is a great way to focus on that!</p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-264eaea9 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="264eaea9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4a03a2b elementor-invisible" data-id="4a03a2b" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;bounceInLeft&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-dc6ab0d elementor-widget elementor-widget-heading" data-id="dc6ab0d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-large">Conferences!</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-62a543a1 elementor-widget elementor-widget-text-editor" data-id="62a543a1" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Have a large conference coming up? I have spoken at these as well! Whether it’s a small group of people or large crowds of thousands-I’ve spoken in front of them all! I would love to bring what I offer in the health world to YOUR CONFERENCE!</p>								</div>
				</div>
				<div class="elementor-element elementor-element-9f1dad3 elementor-widget elementor-widget-spacer" data-id="9f1dad3" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-22e118f6" data-id="22e118f6" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-6b235e77 elementor-invisible elementor-widget elementor-widget-image" data-id="6b235e77" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;bounceInRight&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img loading="lazy" decoding="async" width="950" height="1182" src="/wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-2.34.jpg" class="attachment-full size-full wp-image-2902" alt="" srcset="/wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-2.34.jpg 950w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-2.34-600x747.jpg 600w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-2.34-241x300.jpg 241w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-2.34-823x1024.jpg 823w, /wp-content/uploads/2020/02/Screen-Shot-2020-01-29-at-2.34-768x956.jpg 768w" sizes="(max-width: 950px) 100vw, 950px">															</div>
				</div>
				<div class="elementor-element elementor-element-3766e59 elementor-widget elementor-widget-spacer" data-id="3766e59" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-adeb74d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="adeb74d" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-39bc0b7" data-id="39bc0b7" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a2fabd8 elementor-widget elementor-widget-spacer" data-id="a2fabd8" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-2c8813f elementor-widget elementor-widget-text-editor" data-id="2c8813f" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>Wanna get more info or book me for an event?</p>								</div>
				</div>
				<div class="elementor-element elementor-element-4fffbd7 elementor-align-center elementor-widget elementor-widget-button" data-id="4fffbd7" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="/contact-me/">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">GET IN TOUCH!</span>
					</span>
					</a>
				</div>
								</div>
				</div>
				<div class="elementor-element elementor-element-1f22a0a elementor-widget elementor-widget-spacer" data-id="1f22a0a" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>