<div data-elementor-type="wp-post" data-elementor-id="295" class="elementor elementor-295" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-7a2694d elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="7a2694d" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;opacity-tilt&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
	<path class="elementor-shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
	<path class="elementor-shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2a8d927 elementor-invisible" data-id="2a8d927" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a76eba3 elementor-widget elementor-widget-heading" data-id="a76eba3" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Healthy in Body, Soul and Spirit.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-0dfd3de elementor-widget elementor-widget-heading" data-id="0dfd3de" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Kristen Pardue's blog</h2>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-d79d28f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="d79d28f" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ca3cf9c" data-id="ca3cf9c" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-334ba4c elementor-widget elementor-widget-spacer" data-id="334ba4c" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-6a5ef77 elementor-posts--align-center home-post elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts" data-id="6a5ef77" data-element_type="widget" data-e-type="widget" data-settings="{&quot;pagination_type&quot;:&quot;numbers_and_prev_next&quot;,&quot;classic_columns&quot;:&quot;3&quot;,&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">
				<article class="elementor-post elementor-grid-item post-2496 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-infant-health category-kids-health category-pregnancy" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/frankincense-lemon-oregano-on-guard-and-melaleuca/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img decoding="async" width="2000" height="1263" src="/wp-content/uploads/2019/10/floom-essential-oils.jpg" class="attachment-full size-full wp-image-2639" alt="" srcset="/wp-content/uploads/2019/10/floom-essential-oils.jpg 2000w, /wp-content/uploads/2019/10/floom-essential-oils-600x379.jpg 600w, /wp-content/uploads/2019/10/floom-essential-oils-300x189.jpg 300w, /wp-content/uploads/2019/10/floom-essential-oils-1024x647.jpg 1024w, /wp-content/uploads/2019/10/floom-essential-oils-768x485.jpg 768w, /wp-content/uploads/2019/10/floom-essential-oils-1536x970.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/frankincense-lemon-oregano-on-guard-and-melaleuca/">
				What is FLOOM?!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2495 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-physical-health category-uncategorized" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/uncategorized/the-touch-kit-product/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img decoding="async" width="2000" height="1498" src="/wp-content/uploads/2019/09/doterra-touch-kit.jpg" class="attachment-full size-full wp-image-2640" alt="" srcset="/wp-content/uploads/2019/09/doterra-touch-kit.jpg 2000w, /wp-content/uploads/2019/09/doterra-touch-kit-600x449.jpg 600w, /wp-content/uploads/2019/09/doterra-touch-kit-300x225.jpg 300w, /wp-content/uploads/2019/09/doterra-touch-kit-1024x767.jpg 1024w, /wp-content/uploads/2019/09/doterra-touch-kit-768x575.jpg 768w, /wp-content/uploads/2019/09/doterra-touch-kit-1536x1150.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/uncategorized/the-touch-kit-product/">
				Why you NEED the Touch Kit!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2494 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-kids-health category-nutrition category-physical-health category-pregnancy category-supplements category-uncategorized" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/uncategorized/turmeric-dual-chambered-capsules/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1301" src="/wp-content/uploads/2019/09/turmeric-capsules.jpg" class="attachment-full size-full wp-image-2641" alt="" srcset="/wp-content/uploads/2019/09/turmeric-capsules.jpg 2000w, /wp-content/uploads/2019/09/turmeric-capsules-600x390.jpg 600w, /wp-content/uploads/2019/09/turmeric-capsules-300x195.jpg 300w, /wp-content/uploads/2019/09/turmeric-capsules-1024x666.jpg 1024w, /wp-content/uploads/2019/09/turmeric-capsules-768x500.jpg 768w, /wp-content/uploads/2019/09/turmeric-capsules-1536x999.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/uncategorized/turmeric-dual-chambered-capsules/">
				Anti-inflammatory Power of Turmeric			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2493 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-infant-health category-kids-health category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/doterras-onguard-laundry-detergent/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1213" src="/wp-content/uploads/2019/09/laundry-detergent-natural.jpg" class="attachment-full size-full wp-image-2644" alt="" srcset="/wp-content/uploads/2019/09/laundry-detergent-natural.jpg 2000w, /wp-content/uploads/2019/09/laundry-detergent-natural-600x364.jpg 600w, /wp-content/uploads/2019/09/laundry-detergent-natural-300x182.jpg 300w, /wp-content/uploads/2019/09/laundry-detergent-natural-1024x621.jpg 1024w, /wp-content/uploads/2019/09/laundry-detergent-natural-768x466.jpg 768w, /wp-content/uploads/2019/09/laundry-detergent-natural-1536x932.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/doterras-onguard-laundry-detergent/">
				Amazing Natural Laundry Detergent			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2492 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/top-uses-of-melissa-oil/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1289" src="/wp-content/uploads/2019/08/melissa-essential-oil.jpg" class="attachment-full size-full wp-image-2645" alt="" srcset="/wp-content/uploads/2019/08/melissa-essential-oil.jpg 2000w, /wp-content/uploads/2019/08/melissa-essential-oil-600x387.jpg 600w, /wp-content/uploads/2019/08/melissa-essential-oil-300x193.jpg 300w, /wp-content/uploads/2019/08/melissa-essential-oil-1024x660.jpg 1024w, /wp-content/uploads/2019/08/melissa-essential-oil-768x495.jpg 768w, /wp-content/uploads/2019/08/melissa-essential-oil-1536x990.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/top-uses-of-melissa-oil/">
				How to use Melissa Essential Oil			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2491 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-physical-health category-pregnancy" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/you-need-natural-deodorant/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1273" src="/wp-content/uploads/2019/08/natural-deodorant-doterra.jpg" class="attachment-full size-full wp-image-2646" alt="" srcset="/wp-content/uploads/2019/08/natural-deodorant-doterra.jpg 2000w, /wp-content/uploads/2019/08/natural-deodorant-doterra-600x382.jpg 600w, /wp-content/uploads/2019/08/natural-deodorant-doterra-300x191.jpg 300w, /wp-content/uploads/2019/08/natural-deodorant-doterra-1024x652.jpg 1024w, /wp-content/uploads/2019/08/natural-deodorant-doterra-768x489.jpg 768w, /wp-content/uploads/2019/08/natural-deodorant-doterra-1536x978.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/you-need-natural-deodorant/">
				Why you need to use NATURAL Deodorant			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2490 post type-post status-publish format-standard has-post-thumbnail hentry category-favorites category-infant-health category-kids-health category-nutrition category-physical-health category-pregnancy category-supplements category-uncategorized" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/uncategorized/best-magnesium-cognimag-pure-encapsulations/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1409" src="/wp-content/uploads/2019/08/best-magneisum-supplement.jpg" class="attachment-full size-full wp-image-2647" alt="" srcset="/wp-content/uploads/2019/08/best-magneisum-supplement.jpg 2000w, /wp-content/uploads/2019/08/best-magneisum-supplement-600x423.jpg 600w, /wp-content/uploads/2019/08/best-magneisum-supplement-300x211.jpg 300w, /wp-content/uploads/2019/08/best-magneisum-supplement-1024x721.jpg 1024w, /wp-content/uploads/2019/08/best-magneisum-supplement-768x541.jpg 768w, /wp-content/uploads/2019/08/best-magneisum-supplement-1536x1082.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/uncategorized/best-magnesium-cognimag-pure-encapsulations/">
				Let’s talk about Magnesium!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2489 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-kids-health category-physical-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/on-guard-products-from-doterra/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1333" src="/wp-content/uploads/2019/08/onguard-sanitizing-mist.jpg" class="attachment-full size-full wp-image-2649" alt="" srcset="/wp-content/uploads/2019/08/onguard-sanitizing-mist.jpg 2000w, /wp-content/uploads/2019/08/onguard-sanitizing-mist-600x400.jpg 600w, /wp-content/uploads/2019/08/onguard-sanitizing-mist-300x200.jpg 300w, /wp-content/uploads/2019/08/onguard-sanitizing-mist-1024x682.jpg 1024w, /wp-content/uploads/2019/08/onguard-sanitizing-mist-768x512.jpg 768w, /wp-content/uploads/2019/08/onguard-sanitizing-mist-1536x1024.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/on-guard-products-from-doterra/">
				Keep those hands clean…NATURALLY!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2488 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-personal category-physical-health category-pregnancy" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/natural-facial-moisturizer/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1308" src="/wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra.jpg" class="attachment-full size-full wp-image-2651" alt="" srcset="/wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra.jpg 2000w, /wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra-600x392.jpg 600w, /wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra-300x196.jpg 300w, /wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra-1024x670.jpg 1024w, /wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra-768x502.jpg 768w, /wp-content/uploads/2019/07/facial-moisturizer-natural-verage-doterra-1536x1005.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/natural-facial-moisturizer/">
				Natural Facial Moisturizer			</a>
		</h3>
				</div>
				</article>
				</div>
		
				<div class="e-load-more-anchor" data-page="3" data-max-page="10" data-next-page="https://kristenpardue.com/blog/4/"></div>
				<nav class="elementor-pagination" aria-label="Pagination">
			<a class="page-numbers prev" href="/blog/2/">« Previous</a>
<a class="page-numbers" href="/blog/"><span class="elementor-screen-only">Page</span>1</a>
<a class="page-numbers" href="/blog/2/"><span class="elementor-screen-only">Page</span>2</a>
<span aria-current="page" class="page-numbers current"><span class="elementor-screen-only">Page</span>3</span>
<a class="page-numbers" href="/blog/4/"><span class="elementor-screen-only">Page</span>4</a>
<a class="page-numbers" href="/blog/5/"><span class="elementor-screen-only">Page</span>5</a>
<span class="page-numbers dots">…</span>
<a class="page-numbers" href="/blog/10/"><span class="elementor-screen-only">Page</span>10</a>
<a class="page-numbers next" href="/blog/4/">Next »</a>		</nav>
						</div>
				</div>
				<div class="elementor-element elementor-element-e335614 elementor-widget elementor-widget-spacer" data-id="e335614" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-c93f7d0 use-them elementor-widget elementor-widget-image-box" data-id="c93f7d0" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">IT'S TIME TO UPGRADE YOUR HEALTH</h3><p class="elementor-image-box-description"></p><p></p></div></div>				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-c1caee8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c1caee8" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-be1da2c" data-id="be1da2c" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-76607da" data-id="76607da" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-ce7a375 elementor-widget elementor-widget-heading" data-id="ce7a375" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Search the Site</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-a91a4cc elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-search-form--icon-search elementor-widget elementor-widget-search-form" data-id="a91a4cc" data-element_type="widget" data-e-type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
				<div class="elementor-widget-container">
							<search role="search">
			<form class="elementor-search-form" action="/" method="get">
												<div class="elementor-search-form__container">
					<label class="elementor-screen-only" for="elementor-search-form-a91a4cc">Search</label>

					
					<input id="elementor-search-form-a91a4cc" placeholder="Search..." class="elementor-search-form__input" type="search" name="s" value="">
					
											<button class="elementor-search-form__submit" type="submit" aria-label="Search">
															<i aria-hidden="true" class="fas fa-search"></i>													</button>
					
									</div>
			</form>
		</search>
						</div>
				</div>
				<div class="elementor-element elementor-element-aaee019 elementor-widget elementor-widget-heading" data-id="aaee019" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Search by category</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-f1a042a elementor-nav-menu__align-start elementor-nav-menu--dropdown-mobile elementor-nav-menu__text-align-aside elementor-widget elementor-widget-nav-menu" data-id="f1a042a" data-element_type="widget" data-e-type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot; aria-hidden=\&quot;true\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
								<nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
				<ul id="menu-1-f1a042a" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2774"><a class="elementor-item">Categories<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2760"><a href="/category/business/" class="elementor-sub-item">Business</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2761"><a href="/category/essential-oils/" class="elementor-sub-item">Essential Oils</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2762"><a href="/category/favorites/" class="elementor-sub-item">Favorite Things</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2763"><a href="/category/mindset/" class="elementor-sub-item">Mindset</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2764"><a href="/category/personal/" class="elementor-sub-item">Personal</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2765"><a href="/category/physical-health/" class="elementor-sub-item">Physical Health<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
	<ul class="sub-menu elementor-nav-menu--dropdown">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="/category/physical-health/infant-health/" class="elementor-sub-item">Infant Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="/category/physical-health/kids-health/" class="elementor-sub-item">Kids Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="/category/physical-health/nutrition/" class="elementor-sub-item">Nutrition</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="/category/physical-health/pregnancy/" class="elementor-sub-item">Pregnancy</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2770"><a href="/category/physical-health/supplements/" class="elementor-sub-item">Supplements</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2771"><a href="/category/recipes/" class="elementor-sub-item">Recipes</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2772"><a href="/category/relationships/" class="elementor-sub-item">Relationships</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2773"><a href="/category/spiritual-health/" class="elementor-sub-item">Spiritual Health</a></li>
</ul>
</li>
</ul>			</nav>
						<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
				<ul id="menu-2-f1a042a" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2774"><a class="elementor-item" tabindex="-1">Categories<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2760"><a href="/category/business/" class="elementor-sub-item" tabindex="-1">Business</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2761"><a href="/category/essential-oils/" class="elementor-sub-item" tabindex="-1">Essential Oils</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2762"><a href="/category/favorites/" class="elementor-sub-item" tabindex="-1">Favorite Things</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2763"><a href="/category/mindset/" class="elementor-sub-item" tabindex="-1">Mindset</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2764"><a href="/category/personal/" class="elementor-sub-item" tabindex="-1">Personal</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2765"><a href="/category/physical-health/" class="elementor-sub-item" tabindex="-1">Physical Health<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
	<ul class="sub-menu elementor-nav-menu--dropdown">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="/category/physical-health/infant-health/" class="elementor-sub-item" tabindex="-1">Infant Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="/category/physical-health/kids-health/" class="elementor-sub-item" tabindex="-1">Kids Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="/category/physical-health/nutrition/" class="elementor-sub-item" tabindex="-1">Nutrition</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="/category/physical-health/pregnancy/" class="elementor-sub-item" tabindex="-1">Pregnancy</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2770"><a href="/category/physical-health/supplements/" class="elementor-sub-item" tabindex="-1">Supplements</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2771"><a href="/category/recipes/" class="elementor-sub-item" tabindex="-1">Recipes</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2772"><a href="/category/relationships/" class="elementor-sub-item" tabindex="-1">Relationships</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2773"><a href="/category/spiritual-health/" class="elementor-sub-item" tabindex="-1">Spiritual Health</a></li>
</ul>
</li>
</ul>			</nav>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-5bd9c4c elementor-widget elementor-widget-spacer" data-id="5bd9c4c" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>