<div data-elementor-type="wp-post" data-elementor-id="1903" class="elementor elementor-1903" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-effc5ed elementor-section-height-full elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="effc5ed" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;opacity-tilt&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
	<path class="elementor-shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
	<path class="elementor-shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6390884" data-id="6390884" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-80d9cf4 animated-slow elementor-invisible elementor-widget elementor-widget-heading" data-id="80d9cf4" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;,&quot;_animation_delay&quot;:0.01000000000000000020816681711721685132943093776702880859375}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">HEALTHY IN BODY <br>SOUL AND SPIRIT.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-c7504dc animated-slow elementor-invisible elementor-widget elementor-widget-heading" data-id="c7504dc" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;slideInLeft&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h1 class="elementor-heading-title elementor-size-default">Pursuing wellness together!</h1>				</div>
				</div>
				<div class="elementor-element elementor-element-12f5b9a animated-slow elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-invisible elementor-widget elementor-widget-button" data-id="12f5b9a" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-xs elementor-animation-grow" href="/about/">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">LEARN MORE</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-75c095b" data-id="75c095b" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-c3f2536 elementor-widget elementor-widget-spacer" data-id="c3f2536" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-a311226 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a311226" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c255dae" data-id="c255dae" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-4dbdc94 elementor-align-center elementor-widget elementor-widget-button" data-id="4dbdc94" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-hang" href="#click-down">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon">
				<i aria-hidden="true" class="fas fa-angle-double-down"></i>			</span>
								</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-66d277a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="66d277a" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b5caedc" data-id="b5caedc" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-a3171ae elementor-widget elementor-widget-spacer" data-id="a3171ae" data-element_type="widget" data-e-type="widget" id="click-down" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-c355f89 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c355f89" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-62379ce" data-id="62379ce" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-abe5969 elementor-widget elementor-widget-image" data-id="abe5969" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img decoding="async" width="800" height="999" src="/wp-content/uploads/2019/06/KP-sitting-solo-image-820x1024.jpg" class="attachment-large size-large wp-image-1913" alt="" srcset="/wp-content/uploads/2019/06/KP-sitting-solo-image-820x1024.jpg 820w, /wp-content/uploads/2019/06/KP-sitting-solo-image-600x749.jpg 600w, /wp-content/uploads/2019/06/KP-sitting-solo-image-240x300.jpg 240w, /wp-content/uploads/2019/06/KP-sitting-solo-image-768x959.jpg 768w, /wp-content/uploads/2019/06/KP-sitting-solo-image.jpg 1080w" sizes="(max-width: 800px) 100vw, 800px">															</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ba550c5" data-id="ba550c5" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-ac34fd5 elementor-widget elementor-widget-icon-box" data-id="ac34fd5" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
							<div class="elementor-icon-box-wrapper">

			
						<div class="elementor-icon-box-content">

									<h3 class="elementor-icon-box-title">
						<span>
							Kristen Pardue, RD						</span>
					</h3>
				
									<p class="elementor-icon-box-description">
						As a "Real Food" Registered Dietitian and Natural Health Expert, my goal is simply to help women and their families WALK IN FREEDOM-BODY, SOUL AND SPIRIT!					</p>
				
			</div>
			
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-58a121a e-grid-align-mobile-center e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="58a121a" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-repeater-item-cf359fa" href="https://www.facebook.com/kristenpardueRD/" target="_blank">
						<span class="elementor-screen-only">Facebook-f</span>
						<i aria-hidden="true" class="fab fa-facebook-f"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-3cded61" href="http://www.instagram.com/kristenpardue" target="_blank">
						<span class="elementor-screen-only">Instagram</span>
						<i aria-hidden="true" class="fab fa-instagram"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-envelope elementor-repeater-item-692728d" href="/contact-me">
						<span class="elementor-screen-only">Envelope</span>
						<i aria-hidden="true" class="fas fa-envelope"></i>					</a>
				</span>
					</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-f82b80a elementor-widget elementor-widget-text-editor" data-id="f82b80a" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
									<p>“When we get back to eating the way that was intended for our bodies, we unveil just how great our bodies and minds can feel. Join me on this daily journey to gain back our health through a naturally focused lifestyle!”<em><br></em></p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-5a0ff3f elementor-widget elementor-widget-spacer" data-id="5a0ff3f" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-df45fa1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="df45fa1" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b760704" data-id="b760704" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d0ca7e1 elementor-posts--align-center home-post elementor-grid-tablet-3 elementor-grid-3 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts" data-id="d0ca7e1" data-element_type="widget" data-e-type="widget" data-settings="{&quot;classic_columns_tablet&quot;:&quot;3&quot;,&quot;classic_columns&quot;:&quot;3&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">
				<article class="elementor-post elementor-grid-item post-2831 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-favorites category-infant-health category-kids-health category-physical-health category-pregnancy category-supplements" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/lets-talk-about-copaiba-oil/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img decoding="async" width="1000" height="741" src="/wp-content/uploads/2020/02/copaiba-oil.jpg" class="attachment-full size-full wp-image-2906" alt="" srcset="/wp-content/uploads/2020/02/copaiba-oil.jpg 1000w, /wp-content/uploads/2020/02/copaiba-oil-600x445.jpg 600w, /wp-content/uploads/2020/02/copaiba-oil-300x222.jpg 300w, /wp-content/uploads/2020/02/copaiba-oil-768x569.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/lets-talk-about-copaiba-oil/">
				Let’s talk about COPAIBA OIL!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2826 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/do-you-believe-for-the-impossible/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1213" src="/wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink.jpg" class="attachment-full size-full wp-image-2755" alt="" srcset="/wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink.jpg 2000w, /wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink-600x364.jpg 600w, /wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink-300x182.jpg 300w, /wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink-1024x621.jpg 1024w, /wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink-768x466.jpg 768w, /wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink-1536x932.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/do-you-believe-for-the-impossible/">
				Do You Believe for the “Impossible?”			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2827 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-infant-health category-kids-health category-physical-health category-pregnancy" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/4-immune-system-boosting-oils/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" decoding="async" width="2000" height="1370" src="/wp-content/uploads/2020/02/4-power-oils.jpg" class="attachment-full size-full wp-image-2828" alt="" srcset="/wp-content/uploads/2020/02/4-power-oils.jpg 2000w, /wp-content/uploads/2020/02/4-power-oils-600x411.jpg 600w, /wp-content/uploads/2020/02/4-power-oils-300x206.jpg 300w, /wp-content/uploads/2020/02/4-power-oils-1024x701.jpg 1024w, /wp-content/uploads/2020/02/4-power-oils-768x526.jpg 768w, /wp-content/uploads/2020/02/4-power-oils-1536x1052.jpg 1536w" sizes="(max-width: 2000px) 100vw, 2000px"></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/4-immune-system-boosting-oils/">
				4 Immune System Boosting Oils!			</a>
		</h3>
				</div>
				</article>
				</div>
		
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-bcd0fd3 home-steps elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bcd0fd3" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-56dbade" data-id="56dbade" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f3b442d elementor-widget elementor-widget-spacer" data-id="f3b442d" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-ac4b7c3 elementor-widget elementor-widget-heading" data-id="ac4b7c3" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Where to start...</h3>				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-76ccfbf steps elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="76ccfbf" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-a26dab4" data-id="a26dab4" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-61038f5 elementor-position-left elementor-hidden-tablet elementor-hidden-phone elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="61038f5" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="150" height="150" src="/wp-content/uploads/2020/02/icons-water.png" class="attachment-medium size-medium wp-image-2801" alt="" srcset="/wp-content/uploads/2020/02/icons-water.png 150w, /wp-content/uploads/2020/02/icons-water-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px"></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">ESSENTIAL OILS</h4><p class="elementor-image-box-description">Learn more or Get started!</p></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-c9512c5 elementor-hidden-desktop customcons elementor-position-top elementor-widget elementor-widget-image-box" data-id="c9512c5" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="150" height="150" src="/wp-content/uploads/2020/02/icons-water.png" class="attachment-full size-full wp-image-2801" alt="" srcset="/wp-content/uploads/2020/02/icons-water.png 150w, /wp-content/uploads/2020/02/icons-water-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px"></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">ESSENTIAL OILS</h4><p class="elementor-image-box-description">Learn more or Get started!</p></div></div>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1526b77" data-id="1526b77" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-53b606a elementor-position-left elementor-hidden-tablet elementor-hidden-phone elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="53b606a" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="150" height="150" src="/wp-content/uploads/2020/02/icon-userss.png" class="attachment-full size-full wp-image-2802" alt="" srcset="/wp-content/uploads/2020/02/icon-userss.png 150w, /wp-content/uploads/2020/02/icon-userss-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px"></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">CONSULTING</h4><p class="elementor-image-box-description">Nutrition, Business, Lifestyle!</p></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-6f08627 elementor-hidden-desktop customcons elementor-position-top elementor-widget elementor-widget-image-box" data-id="6f08627" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="150" height="150" src="/wp-content/uploads/2020/02/icon-userss.png" class="attachment-full size-full wp-image-2802" alt="" srcset="/wp-content/uploads/2020/02/icon-userss.png 150w, /wp-content/uploads/2020/02/icon-userss-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px"></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">CONSULTING</h4><p class="elementor-image-box-description">Nutrition, Business, Lifestyle!</p></div></div>				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b30f082" data-id="b30f082" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-2a0d619 elementor-position-left elementor-hidden-tablet elementor-hidden-phone elementor-vertical-align-top elementor-widget elementor-widget-image-box" data-id="2a0d619" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="150" height="150" src="/wp-content/uploads/2020/02/faq-icon-big.png" class="attachment-full size-full wp-image-2799" alt="" srcset="/wp-content/uploads/2020/02/faq-icon-big.png 150w, /wp-content/uploads/2020/02/faq-icon-big-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px"></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">FAQ</h4><p class="elementor-image-box-description">My top most FAQs!</p></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-54a66c7 elementor-hidden-desktop customcons elementor-position-top elementor-widget elementor-widget-image-box" data-id="54a66c7" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="150" height="150" src="/wp-content/uploads/2020/02/faq-icon-big.png" class="attachment-full size-full wp-image-2799" alt="" srcset="/wp-content/uploads/2020/02/faq-icon-big.png 150w, /wp-content/uploads/2020/02/faq-icon-big-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px"></figure><div class="elementor-image-box-content"><h4 class="elementor-image-box-title">FAQ</h4><p class="elementor-image-box-description">My top most FAQs!</p></div></div>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-ca896d2 elementor-widget elementor-widget-spacer" data-id="ca896d2" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-c71d27b elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="c71d27b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-baddd30" data-id="baddd30" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-a24c8b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a24c8b5" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-869e7e1" data-id="869e7e1" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-b1669ca elementor-widget elementor-widget-spacer" data-id="b1669ca" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-40a0302 elementor-widget elementor-widget-spacer" data-id="40a0302" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-4aec5ba elementor-testimonial--layout-image_above elementor-testimonial--skin-default elementor-testimonial--align-center elementor-pagination-type-bullets elementor-widget elementor-widget-testimonial-carousel" data-id="4aec5ba" data-element_type="widget" data-e-type="widget" data-settings="{&quot;autoplay_speed&quot;:14000,&quot;speed&quot;:1500,&quot;pagination&quot;:&quot;bullets&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}" data-widget_type="testimonial-carousel.default">
				<div class="elementor-widget-container">
									<div class="elementor-swiper">
					<div class="elementor-main-swiper swiper" role="region" aria-roledescription="carousel" aria-label="Slides">
				<div class="swiper-wrapper">
											<div class="swiper-slide" role="group" aria-roledescription="slide">
									<div class="elementor-testimonial">
							<div class="elementor-testimonial__content">
					<div class="elementor-testimonial__text">
						"Its been more than 10 years of FREEDOM from severe health issues! God has given me the keys to optimal health and now it's my passion and duty to share with others in the same knowledge that I've been given!"					</div>
									</div>
						<div class="elementor-testimonial__footer">
									<div class="elementor-testimonial__image">
						<img decoding="async" src="/wp-content/uploads/2020/02/kristen-hot-pink-square.jpg" alt="">
											</div>
											</div>
		</div>
								</div>
											<div class="swiper-slide" role="group" aria-roledescription="slide">
									<div class="elementor-testimonial">
							<div class="elementor-testimonial__content">
					<div class="elementor-testimonial__text">
						"When you think about it, gratitude is like our daily reset button! It keeps us centered on the important things and content in our day to day!"					</div>
									</div>
						<div class="elementor-testimonial__footer">
									<div class="elementor-testimonial__image">
						<img decoding="async" src="/wp-content/uploads/2019/06/KP-Image.jpg" alt="">
											</div>
											</div>
		</div>
								</div>
											<div class="swiper-slide" role="group" aria-roledescription="slide">
									<div class="elementor-testimonial">
							<div class="elementor-testimonial__content">
					<div class="elementor-testimonial__text">
						"Our personal journey might look different than everyone else's...but it doesn't mean that we have missed the window or opportunity for growth and healing!"					</div>
									</div>
						<div class="elementor-testimonial__footer">
									<div class="elementor-testimonial__image">
						<img decoding="async" src="/wp-content/uploads/2019/12/2.jpg" alt="">
											</div>
											</div>
		</div>
								</div>
									</div>
																				<div class="swiper-pagination"></div>
												</div>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-a761466 elementor-widget elementor-widget-spacer" data-id="a761466" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>