<div data-elementor-type="archive" data-elementor-id="2101" class="elementor elementor-2101 elementor-location-archive" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-48079e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="48079e9" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;opacity-tilt&quot;}">
							<div class="elementor-background-overlay"></div>
						<div class="elementor-shape elementor-shape-bottom" aria-hidden="true" data-negative="false">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2600 131.1" preserveAspectRatio="none">
	<path class="elementor-shape-fill" d="M0 0L2600 0 2600 69.1 0 0z"></path>
	<path class="elementor-shape-fill" style="opacity:0.5" d="M0 0L2600 0 2600 69.1 0 69.1z"></path>
	<path class="elementor-shape-fill" style="opacity:0.25" d="M2600 0L0 0 0 130.1 2600 69.1z"></path>
</svg>		</div>
					<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dbeef22 elementor-invisible" data-id="dbeef22" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-723ffdc elementor-widget elementor-widget-heading" data-id="723ffdc" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Healthy in Body, Soul and Spirit.</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-e3e60dd elementor-widget elementor-widget-heading" data-id="e3e60dd" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Spiritual Health</h2>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5c9da5c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="5c9da5c" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11032f5" data-id="11032f5" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-d1521d3 elementor-widget elementor-widget-spacer" data-id="d1521d3" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-1cabc9b elementor-posts--align-center home-post elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts" data-id="1cabc9b" data-element_type="widget" data-e-type="widget" data-settings="{&quot;pagination_type&quot;:&quot;numbers_and_prev_next&quot;,&quot;classic_columns&quot;:&quot;3&quot;,&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]},&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
				<div class="elementor-widget-container">
							<div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid" role="list">
				<article class="elementor-post elementor-grid-item post-2826 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/do-you-believe-for-the-impossible/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img width="2000" height="1213" src="/wp-content/uploads/2020/02/kristen-pardue_web-hot-photo-pink.jpg" class="attachment-full size-full wp-image-2755" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/do-you-believe-for-the-impossible/">
				Do You Believe for the “Impossible?”			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2829 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-mindset category-personal category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/do-you-have-the-p-word/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img width="2560" height="1707" src="/wp-content/uploads/2020/02/sporlab-XiZ7pRvCzro-unsplash-scaled.jpg" class="attachment-full size-full wp-image-2830" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/do-you-have-the-p-word/">
				Do you have the “P-Word?”			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2509 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/god-is-the-healer/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1333" src="/wp-content/uploads/2020/01/jesus-is-the-healer-photo.jpg" class="attachment-full size-full wp-image-2533" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/god-is-the-healer/">
				God is THE HEALER!			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2505 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/one-of-the-hardest-years-for-our-family/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1333" src="/wp-content/uploads/2019/12/pardue-family-2019.jpg" class="attachment-full size-full wp-image-2537" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/one-of-the-hardest-years-for-our-family/">
				2019 was a really hard year…			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2499 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-relationships category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/mother-tuesday-motivation/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1333" src="/wp-content/uploads/2019/10/encouragement-for-moms.jpg" class="attachment-full size-full wp-image-2634" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/mother-tuesday-motivation/">
				It Takes a Village…			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2474 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-physical-health category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/addicted-to-sugar/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1364" src="/wp-content/uploads/2019/04/kristen-pardue-healthy-lifestyle-constultant.jpg" class="attachment-full size-full wp-image-2670" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/addicted-to-sugar/">
				My history with SUGAR…			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-1987 post type-post status-publish format-standard has-post-thumbnail hentry category-mindset category-personal category-relationships category-spiritual-health" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/personal/everyone-needs-a-vacation/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="1500" height="1000" src="/wp-content/uploads/2019/06/ethan-robertson-SYx3UCHZJlo-unsplash.jpg" class="attachment-full size-full wp-image-1988" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/personal/everyone-needs-a-vacation/">
				Everyone Needs A Vacation			</a>
		</h3>
				</div>
				</article>
				<article class="elementor-post elementor-grid-item post-2004 post type-post status-publish format-standard has-post-thumbnail hentry category-essential-oils category-mindset category-nutrition category-personal category-physical-health category-spiritual-health category-supplements" role="listitem">
				<a class="elementor-post__thumbnail__link" href="/essential-oils/my-journey-to-healing/" tabindex="-1">
			<div class="elementor-post__thumbnail"><img loading="lazy" width="2000" height="1334" src="/wp-content/uploads/2011/03/healing-autoimmune-disease-naturally.jpg" class="attachment-full size-full wp-image-2689" alt=""></div>
		</a>
				<div class="elementor-post__text">
				<h3 class="elementor-post__title">
			<a href="/essential-oils/my-journey-to-healing/">
				My Journey to Healing			</a>
		</h3>
				</div>
				</article>
				</div>
		
						</div>
				</div>
				<div class="elementor-element elementor-element-a62223e elementor-widget elementor-widget-spacer" data-id="a62223e" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-a62fdaf use-them elementor-widget elementor-widget-image-box" data-id="a62fdaf" data-element_type="widget" data-e-type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">IT'S TIME TO UPGRADE YOUR HEALTH</h3><p class="elementor-image-box-description"></p><p></p></div></div>				</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-343b272 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="343b272" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-868d7a2" data-id="868d7a2" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-d3cb24a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d3cb24a" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7877321" data-id="7877321" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap">
							</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-cb40c04" data-id="cb40c04" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f4d70f5 elementor-widget elementor-widget-heading" data-id="f4d70f5" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Search the Site</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-28abae2 elementor-search-form--skin-classic elementor-search-form--button-type-icon elementor-search-form--icon-search elementor-widget elementor-widget-search-form" data-id="28abae2" data-element_type="widget" data-e-type="widget" data-settings="{&quot;skin&quot;:&quot;classic&quot;}" data-widget_type="search-form.default">
				<div class="elementor-widget-container">
							<search role="search">
			<form class="elementor-search-form" action="/" method="get">
												<div class="elementor-search-form__container">
					<label class="elementor-screen-only" for="elementor-search-form-28abae2">Search</label>

					
					<input id="elementor-search-form-28abae2" placeholder="Search..." class="elementor-search-form__input" type="search" name="s" value="">
					
											<button class="elementor-search-form__submit" type="submit" aria-label="Search">
															<i aria-hidden="true" class="fas fa-search"></i>													</button>
					
									</div>
			</form>
		</search>
						</div>
				</div>
				<div class="elementor-element elementor-element-90b7313 elementor-widget elementor-widget-heading" data-id="90b7313" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Search by category</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-481eeff elementor-nav-menu__align-start elementor-nav-menu--dropdown-mobile elementor-nav-menu__text-align-aside elementor-widget elementor-widget-nav-menu" data-id="481eeff" data-element_type="widget" data-e-type="widget" data-settings="{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;<i class=\&quot;fas fa-caret-down\&quot; aria-hidden=\&quot;true\&quot;><\/i>&quot;,&quot;library&quot;:&quot;fa-solid&quot;}}" data-widget_type="nav-menu.default">
				<div class="elementor-widget-container">
								<nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
				<ul id="menu-1-481eeff" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2774"><a class="elementor-item">Categories<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2760"><a href="/category/business/" class="elementor-sub-item">Business</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2761"><a href="/category/essential-oils/" class="elementor-sub-item">Essential Oils</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2762"><a href="/category/favorites/" class="elementor-sub-item">Favorite Things</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2763"><a href="/category/mindset/" class="elementor-sub-item">Mindset</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2764"><a href="/category/personal/" class="elementor-sub-item">Personal</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2765"><a href="/category/physical-health/" class="elementor-sub-item">Physical Health<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
	<ul class="sub-menu elementor-nav-menu--dropdown">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="/category/physical-health/infant-health/" class="elementor-sub-item">Infant Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="/category/physical-health/kids-health/" class="elementor-sub-item">Kids Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="/category/physical-health/nutrition/" class="elementor-sub-item">Nutrition</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="/category/physical-health/pregnancy/" class="elementor-sub-item">Pregnancy</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2770"><a href="/category/physical-health/supplements/" class="elementor-sub-item">Supplements</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2771"><a href="/category/recipes/" class="elementor-sub-item">Recipes</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2772"><a href="/category/relationships/" class="elementor-sub-item">Relationships</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-2773"><a href="/category/spiritual-health/" aria-current="page" class="elementor-sub-item elementor-item-active">Spiritual Health</a></li>
</ul>
</li>
</ul>			</nav>
						<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" aria-hidden="true">
				<ul id="menu-2-481eeff" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2774"><a class="elementor-item" tabindex="-1">Categories<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
<ul class="sub-menu elementor-nav-menu--dropdown">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2760"><a href="/category/business/" class="elementor-sub-item" tabindex="-1">Business</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2761"><a href="/category/essential-oils/" class="elementor-sub-item" tabindex="-1">Essential Oils</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2762"><a href="/category/favorites/" class="elementor-sub-item" tabindex="-1">Favorite Things</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2763"><a href="/category/mindset/" class="elementor-sub-item" tabindex="-1">Mindset</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2764"><a href="/category/personal/" class="elementor-sub-item" tabindex="-1">Personal</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2765"><a href="/category/physical-health/" class="elementor-sub-item" tabindex="-1">Physical Health<span class="sub-arrow"><i class="fas fa-caret-down" aria-hidden="true"></i></span></a>
	<ul class="sub-menu elementor-nav-menu--dropdown">
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2766"><a href="/category/physical-health/infant-health/" class="elementor-sub-item" tabindex="-1">Infant Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2767"><a href="/category/physical-health/kids-health/" class="elementor-sub-item" tabindex="-1">Kids Health</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2768"><a href="/category/physical-health/nutrition/" class="elementor-sub-item" tabindex="-1">Nutrition</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2769"><a href="/category/physical-health/pregnancy/" class="elementor-sub-item" tabindex="-1">Pregnancy</a></li>
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2770"><a href="/category/physical-health/supplements/" class="elementor-sub-item" tabindex="-1">Supplements</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2771"><a href="/category/recipes/" class="elementor-sub-item" tabindex="-1">Recipes</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2772"><a href="/category/relationships/" class="elementor-sub-item" tabindex="-1">Relationships</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-2773"><a href="/category/spiritual-health/" aria-current="page" class="elementor-sub-item elementor-item-active" tabindex="-1">Spiritual Health</a></li>
</ul>
</li>
</ul>			</nav>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<div class="elementor-element elementor-element-e138e16 elementor-widget elementor-widget-spacer" data-id="e138e16" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>