<div data-elementor-type="wp-page" data-elementor-id="2984" class="elementor elementor-2984" data-elementor-post-type="page">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-9b6ff05 check-page elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9b6ff05" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74a542ea" data-id="74a542ea" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-72bada4 elementor-widget elementor-widget-heading" data-id="72bada4" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Checkout</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-545a227 elementor-widget elementor-widget-spacer" data-id="545a227" data-element_type="widget" data-e-type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-e378a66 elementor-widget elementor-widget-shortcode" data-id="e378a66" data-element_type="widget" data-e-type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
							<div class="elementor-shortcode">[woocommerce_checkout]</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>