<div data-elementor-type="single" data-elementor-id="2834" class="elementor elementor-2834 elementor-location-single" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-2a67f8a2 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="2a67f8a2" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-wider">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-112fc4d0" data-id="112fc4d0" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-464d07c2 elementor-widget elementor-widget-heading" data-id="464d07c2" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<p class="elementor-heading-title elementor-size-default">404</p>				</div>
				</div>
				<div class="elementor-element elementor-element-2bde1dc7 elementor-widget elementor-widget-heading" data-id="2bde1dc7" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h3 class="elementor-heading-title elementor-size-default">Oops!  Page  not  found</h3>				</div>
				</div>
				<div class="elementor-element elementor-element-4f12d7d7 elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="4f12d7d7" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-lg" href="/">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Go back to Homepage</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>