<div data-elementor-type="popup" data-elementor-id="2974" class="elementor elementor-2974 elementor-location-popup" data-elementor-settings="{&quot;entrance_animation&quot;:&quot;zoomIn&quot;,&quot;entrance_animation_duration&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1,&quot;sizes&quot;:[]},&quot;a11y_navigation&quot;:&quot;yes&quot;,&quot;triggers&quot;:[],&quot;timing&quot;:[]}" data-elementor-post-type="elementor_library">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-4dc6dd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4dc6dd5" data-element_type="section" data-e-type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cae8f5a" data-id="cae8f5a" data-element_type="column" data-e-type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-46e713b elementor-widget elementor-widget-heading" data-id="46e713b" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Click “Register” and Enter Registration Code: KP2527</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-0adbba2 elementor-align-center elementor-widget elementor-widget-button" data-id="0adbba2" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
									<div class="elementor-button-wrapper">
					<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://www.dssorders.com/dnswcustadminlogin.asp" target="_blank">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Visit the Store to Register</span>
					</span>
					</a>
				</div>
								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				</div>